.acara2-child {
    width: 100%;
    height: 826px;
    position: absolute;
    margin: 0 !important;
    top: 435px;
    right: 0;
    left: 0;
    max-width: 100%;
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
  }
  .detail-acara,
  .left-icon {
    position: relative;
    flex-shrink: 0;
  }
  .left-icon {
    width: 40.2px;
    height: 40.2px;
    overflow: hidden;
    object-fit: contain;
  }
  .detail-acara {
    margin: 0;
    height: 65.5px;
    width: 1036px;
    font-size: inherit;
    font-weight: 700;
    font-family: inherit;
    display: inline-block;
    max-width: 100%;
  }
  .detail-acara-wrapper,
  .left-parent {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    max-width: 100%;
  }
  .left-parent {
    flex-direction: column;
    justify-content: flex-start;
    gap: 7.8px;
    flex-shrink: 0;
  }
  .temukan-acara-yang {
    flex: 1;
    position: relative;
    line-height: 30px;
    display: inline-block;
    max-width: 100%;
    z-index: 1;
  }
  .temukan-acara-yang-sesuai-deng-wrapper {
    width: 1040px;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0 56px;
    flex-shrink: 0;
    font-size: var(--font-size-13xl);
  }
  .acara2-inner,
  .frame-parent,
  .temukan-acara-yang-sesuai-deng-wrapper {
    display: flex;
    box-sizing: border-box;
    max-width: 100%;
  }
  .frame-parent {
    height: 204.7px;
    width: 1167px;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 0 0 91.2px;
    gap: 32.7px;
  }
  .acara2-inner {
    width: 1377px;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0 var(--padding-xl);
    text-align: center;
    font-size: 64px;
    color: var(--color-white);
    font-family: var(--font-dm-sans);
  }
  .frame-child {
    height: calc(100% + 195px);
    width: calc(100% - 195px);
    position: absolute;
    margin: 0 !important;
    top: 0;
    right: -83.99px;
    bottom: -195px;
    left: 278.99px;
    border-radius: 20px;
    background-color: var(--color-black);
    transform: rotate(90deg);
    transform-origin: 0 0;
    z-index: 2;
  }
  .daftar {
    position: relative;
    font-size: 30px;
    font-family: var(--font-dm-sans);
    color: var(--color-white);
    text-align: left;
    display: inline-block;
    min-width: 87px;
    z-index: 3;
  }
  .frame-wrapper,
  .rectangle-parent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    box-sizing: border-box;
  }
  .rectangle-parent {
    cursor: pointer;
    border: 0;
    padding: 22px 93px 23px;
    background-color: transparent;
    width: 279px;
    position: relative;
  }
  .frame-wrapper {
    width: 467px;
    padding: 0 0 0 var(--padding-xl);
    max-width: 100%;
  }
  .frame-item {
    width: calc(100% - 1156.2px);
    height: calc(100% + 1155.9px);
    position: absolute;
    margin: 0 !important;
    top: 0;
    right: -355.74px;
    bottom: -1155.9px;
    left: 1511.94px;
    background-color: rgba(199, 141, 200, 0.4);
    transform: rotate(90deg);
    transform-origin: 0 0;
    z-index: 1;
  }
  .konser-blackpink {
    margin: 0;
    width: 802px;
    position: relative;
    font-size: 56px;
    font-weight: 700;
    font-family: inherit;
    display: inline-block;
    max-width: 100%;
    z-index: 2;
  }
  .jam-1900-,
  .keterangan-pakaian-bebas {
    width: 532px;
    position: absolute;
    margin: 0 !important;
    right: 0;
    bottom: 80px;
    display: inline-block;
    z-index: 2;
  }
  .keterangan-pakaian-bebas {
    bottom: 140px;
  }
  .lokasi-manado-sulawesi {
    align-self: stretch;
    position: relative;
    z-index: 2;
  }
  .tanggal-17-juni {
    flex: 1;
    position: relative;
    display: inline-block;
    max-width: 100%;
    z-index: 2;
  }
  .tanggal-17-juni-2024-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 0 1px;
    box-sizing: border-box;
    max-width: 100%;
  }
  .frame-container,
  .lokasi-manado-sulawesi-utara-parent,
  .rectangle-group {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 100%;
  }
  .lokasi-manado-sulawesi-utara-parent {
    width: 577px;
    align-items: flex-start;
    gap: 24px;
  }
  .frame-container,
  .rectangle-group {
    align-self: stretch;
  }
  .rectangle-group {
    align-items: flex-start;
    padding: var(--padding-57xl) var(--padding-xl) 80px 75px;
    box-sizing: border-box;
    position: relative;
    gap: var(--gap-12xl);
    margin-top: -42px;
  }
  .frame-container {
    align-items: flex-end;
    flex-shrink: 0;
    --debug_commit: bf4bc93;
  }
  .frame-inner {
    width: calc(100% - 587.5px);
    height: calc(100% + 587.2px);
    position: absolute;
    margin: 0 !important;
    top: 0;
    right: -924.34px;
    bottom: -587.2px;
    left: 1511.84px;
    background-color: #0d0218;
    transform: rotate(90deg);
    transform-origin: 0 0;
  }
  .deskripsi {
    margin: 0;
    width: 802px;
    position: relative;
    font-size: inherit;
    font-weight: 500;
    font-family: inherit;
    display: inline-block;
    max-width: 100%;
    z-index: 1;
  }
  .bersiaplah-untuk-pengalaman {
    margin: 0;
    align-self: stretch;
    position: relative;
    font-size: var(--font-size-9xl);
    z-index: 1;
  }
  .deskripsi-parent {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 62px;
    max-width: 100%;
  }
  .eventhub {
    height: 40.5px;
    width: 246.2px;
    position: relative;
    line-height: 24px;
    font-weight: 700;
    display: inline-block;
    flex-shrink: 0;
    z-index: 1;
  }
  .eventhub-wrapper {
    width: 1305px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0 var(--padding-xl);
    box-sizing: border-box;
    max-width: 100%;
    text-align: center;
    font-size: 20px;
  }
  .acara2,
  .frame-group,
  .rectangle-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .rectangle-container {
    align-self: stretch;
    align-items: flex-end;
    padding: 48px 84px 127.2px var(--padding-57xl);
    box-sizing: border-box;
    position: relative;
    gap: 152px;
    flex-shrink: 0;
    --debug_commit: bf4bc93;
    max-width: 100%;
    text-align: left;
    font-size: 40px;
    color: var(--color-white);
    font-family: var(--font-dm-sans);
  }
  .acara2,
  .frame-group {
    align-items: flex-start;
  }
  .frame-group {
    align-self: stretch;
    max-width: 100%;
    text-align: left;
    font-size: var(--font-size-9xl);
    color: var(--color-white);
    font-family: var(--font-dm-sans);
  }
  .acara2 {
    width: 100%;
    position: relative;
    background-color: var(--color-black);
    overflow: hidden;
    padding: 89.8px 0 0.3px;
    box-sizing: border-box;
    gap: 923.5px;
    letter-spacing: normal;
    line-height: normal;
  }
  @media screen and (max-width: 1050px) {
    .temukan-acara-yang-sesuai-deng-wrapper {
      padding-left: var(--padding-9xl);
      padding-right: var(--padding-9xl);
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 975px) {
    .detail-acara {
      font-size: 51px;
    }
    .temukan-acara-yang {
      font-size: 26px;
      line-height: 24px;
    }
    .daftar {
      font-size: var(--font-size-5xl);
    }
    .konser-blackpink {
      font-size: 45px;
    }
    .rectangle-group {
      padding-left: 37px;
      box-sizing: border-box;
    }
    .deskripsi {
      font-size: var(--font-size-13xl);
    }
    .rectangle-container {
      gap: 76px;
      padding: 31px 42px 83px 38px;
      box-sizing: border-box;
    }
    .acara2 {
      gap: 462px;
    }
  }
  @media screen and (max-width: 725px) {
    .frame-parent {
      gap: 16px;
    }
    .deskripsi-parent {
      gap: var(--gap-12xl);
    }
  }
  @media screen and (max-width: 450px) {
    .detail-acara {
      font-size: 38px;
    }
    .temukan-acara-yang {
      font-size: 19px;
      line-height: 18px;
    }
    .daftar {
      font-size: 18px;
    }
    .rectangle-parent {
      padding-left: var(--padding-xl);
      padding-right: var(--padding-xl);
      box-sizing: border-box;
    }
    .konser-blackpink {
      font-size: 34px;
    }
    .jam-1900-,
    .keterangan-pakaian-bebas,
    .lokasi-manado-sulawesi,
    .tanggal-17-juni {
      font-size: var(--font-size-3xl);
    }
    .rectangle-group {
      gap: var(--gap-mini);
      padding-bottom: 52px;
      box-sizing: border-box;
    }
    .deskripsi {
      font-size: var(--font-size-5xl);
    }
    .bersiaplah-untuk-pengalaman {
      font-size: var(--font-size-3xl);
    }
    .deskripsi-parent {
      gap: var(--gap-mini);
    }
    .eventhub {
      font-size: 16px;
      line-height: 19px;
    }
    .rectangle-container {
      gap: 38px;
      padding-top: var(--padding-xl);
      padding-right: var(--padding-xl);
      padding-bottom: 54px;
      box-sizing: border-box;
    }
    .acara2 {
      gap: 231px;
    }
  }

  body {
    margin: 0;
    line-height: normal;
  }
  
  :root {
    /* fonts */
    --font-dm-sans: "DM Sans";
  
    /* font sizes */
    --font-size-9xl: 28px;
    --font-size-3xl: 22px;
    --font-size-5xl: 24px;
    --font-size-13xl: 32px;
  
    /* Colors */
    --color-black: #000;
    --color-white: #fff;
  
    /* Gaps */
    --gap-mini: 15px;
    --gap-12xl: 31px;
  
    /* Paddings */
    --padding-57xl: 76px;
    --padding-xl: 20px;
    --padding-9xl: 28px;
  }