.left-icon {
  width: 40.2px;
  height: 40.2px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}

.frame-child,
.unsplash-icon {
  position: absolute;
  object-fit: cover;
}

.frame-child {
  top: 0;
  left: 0;
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.unsplash-icon {
  top: 241px;
  left: 242px;
  width: 70px;
  height: 70px;
  z-index: 1;
}

.ellipse-parent {
  height: 319px;
  width: 323px;
  position: relative;
  max-width: 100%;
}

.frame-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 23px;
  box-sizing: border-box;
  max-width: 100%;
}

.nama {
  width: 635.9px;
  position: relative;
  line-height: 20px;
  display: inline-block;
  max-width: 100%;
}

.frame-item,
.nama-parent {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}

.frame-item {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: var(--color-gray-100);
  height: 80.7px;
  border-radius: var(--br-3xs);
  flex-direction: row;
  padding: var(--padding-10xl-7) var(--padding-18xl) var(--padding-12xl);
  font-family: var(--font-dm-sans);
  font-size: var(--font-size-9xl);
  color: var(--color-white);
  min-width: 250px;
}

.nama-parent {
  flex-direction: column;
  padding: 0 0 20px;
  gap: 29.6px;
  max-width: 100%;
}

.email,
.frame-inner {
  position: relative;
  max-width: 100%;
}

.email {
  width: 635.9px;
  line-height: 20px;
  display: inline-block;
}

.frame-inner {
  height: 80.7px;
  width: 748px;
  border-radius: var(--br-3xs);
  background-color: var(--color-gray-100);
  display: none;
}

.delonjutangmailcom {
  border: 0;
  outline: 0;
  font-family: var(--font-dm-sans);
  font-size: var(--font-size-9xl);
  background-color: transparent;
  width: 635.9px;
  position: relative;
  line-height: 20px;
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  flex-shrink: 0;
  white-space: nowrap;
  max-width: 100%;
  padding: 0;
  z-index: 1;
}

.email-parent,
.rectangle-parent {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  padding-bottom: 20px;
}

.rectangle-parent {
  border-radius: var(--br-3xs);
  background-color: var(--color-gray-100);
  flex-direction: row;
  padding: 27.5px var(--padding-18xl) 33.2px;
  box-sizing: border-box;
}

.email-parent {
  flex-direction: column;
  gap: 24.3px;
}

.alamat {
  width: 635.9px;
  line-height: 20px;
  display: inline-block;
  padding: 0;
}

.alamat,
.jl-podigon-no,
.rectangle-div {
  position: relative;
  max-width: 100%;
}

.rectangle-div {
  height: 80.7px;
  width: 748px;
  border-radius: var(--br-3xs);
  background-color: var(--color-gray-100);
  display: none;
}

.jl-podigon-no {
  border: 0;
  outline: 0;
  font-family: var(--font-dm-sans);
  font-size: var(--font-size-9xl);
  background-color: transparent;
  width: 635.9px;
  line-height: 20px;
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  flex-shrink: 0;
  padding: 0;
  z-index: 1;
}

.alamat-parent,
.rectangle-group {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}

.rectangle-group {
  border-radius: var(--br-3xs);
  background-color: var(--color-gray-100);
  flex-direction: row;
  padding: 27.6px var(--padding-18xl) 33.1px;
}

.alamat-parent {
  flex-direction: column;
  padding: 0 0 20px;
  gap: 24.2px;
}

.tanggal-lahir {
  width: 635.9px;
  line-height: 20px;
  display: inline-block;
}

.frame-child1,
.juli-1997,
.tanggal-lahir {
  position: relative;
  max-width: 100%;
}

.frame-child1 {
  height: 80.7px;
  width: 748px;
  border-radius: var(--br-3xs);
  background-color: var(--color-gray-100);
  display: none;
}

.juli-1997 {
  border: 0;
  outline: 0;
  font-family: var(--font-dm-sans);
  font-size: var(--font-size-9xl);
  background-color: transparent;
  width: 635.9px;
  line-height: 20px;
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  flex-shrink: 0;
  padding: 0;
  z-index: 1;
}

.rectangle-container,
.tanggal-lahir-parent {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}

.rectangle-container {
  border-radius: var(--br-3xs);
  background-color: var(--color-gray-100);
  flex-direction: row;
  padding: var(--padding-10xl-7) var(--padding-18xl) var(--padding-12xl);
}

.tanggal-lahir-parent {
  flex-direction: column;
  padding: 0 0 20px;
  gap: 26.1px;
}

.nomor-telepon {
  flex: 1;
  position: relative;
  line-height: 20px;
  display: inline-block;
  max-width: 100%;
}

.nomor-telepon-wrapper {
  width: 644.4px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 4px;
  box-sizing: border-box;
  max-width: 100%;
}

.frame-child2,
.input {
  position: relative;
  max-width: 100%;
  height: fit-content;
}

.frame-child2 {
  height: 80.7px;
  width: 748px;
  border-radius: var(--br-3xs);
  background-color: var(--color-gray-100);
  display: none;
}

.input {
  border: 0;
  outline: 0;
  font-family: var(--font-dm-sans);
  font-size: var(--font-size-9xl);
  background-color: transparent;
  width: 100%;
  line-height: 20px;
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  flex-shrink: 0;
  padding: 0;
  z-index: 1;
  margin-right: 20px;
}

.frame-container,
.frame-div {
  align-self: stretch;
  align-items: flex-start;
}

.frame-div {
  border-radius: var(--br-3xs);
  background-color: var(--color-gray-100);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 29.6px var(--padding-18xl) 31.1px;
  box-sizing: border-box;
}

.frame-container {
  gap: 23.9px;
  padding-bottom: 20px;
}

.frame-container,
.frame-group,
.frame-parent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.frame-group {
  align-self: stretch;
  /* align-items: flex-start;  */ /* :) */
  gap: 34.3px;
  text-align: left;
  font-size: var(--font-size-9xl);
  color: var(--color-white);
  font-family: var(--font-dm-sans);
}

.frame-parent {
  margin: 0;
  width: 748px;
  align-items: flex-end;
  gap: 56px;
}

.profil-pengguna2-inner {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 0 20.2px;
  box-sizing: border-box;
  max-width: 100%;
}

.frame-child3 {
  height: 93.1px;
  width: 359.7px;
  position: relative;
  border-radius: var(--br-11xl);
  background-color: var(--color-khaki-100);
  display: none;
  max-width: 100%;
}

.simpan {
  margin-left: -61.4px;
  width: 479px;
  position: relative;
  font-size: 32px;
  display: inline-block;
  font-family: var(--font-dm-sans);
  color: var(--bl);
  text-align: center;
  flex-shrink: 0;
  transform: rotate(-0.2deg);
  --debug_commit: bf4bc93;
  max-width: 134%;
  z-index: 1;
}

.frame-button,
.profil-pengguna2-child {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}

.frame-button {
  cursor: pointer;
  border: 0;
  padding: 21.6px 0 25.7px;
  background-color: var(--color-khaki-100);
  width: 359.7px;
  border-radius: var(--br-11xl);
  justify-content: flex-start;
  box-sizing: border-box;
  margin-left: auto; 
  margin-right: auto;
}

.frame-button:hover {
  background-color: #e6c975;
}

.profil-pengguna2-child {
  width: 1266.1px;
  justify-content: center;
}

.profil-pengguna2 {
  width: 100%;
  position: relative;
  background-color: #000;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 89.8px 105px 262.9px;
  box-sizing: border-box;
  gap: 107px;
  letter-spacing: normal;
  line-height: normal;
}

@media screen and (max-width: 750px) {
  .frame-group {
    gap: 17px;
  }

  .frame-parent {
    gap: 28px;
  }

  .simpan {
    font-size: 26px;
  }

  .profil-pengguna2 {
    gap: 53px;
    padding-left: var(--padding-33xl);
    padding-right: var(--padding-33xl);
    box-sizing: border-box;
  }
}

@media screen and (max-width: 450px) {

  .alamat,
  .delonjutangmailcom,
  .email,
  .input,
  .jl-podigon-no,
  .juli-1997,
  .nama,
  .nomor-telepon,
  .tanggal-lahir {
    font-size: var(--font-size-3xl);
    line-height: 16px;
  }

  .simpan {
    font-size: 19px;
  }

  .profil-pengguna2 {
    gap: 27px;
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}

body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-dm-sans: "DM Sans";

  /* font sizes */
  --font-size-9xl: 28px;
  --font-size-3xl: 22px;

  /* Colors */
  --color-khaki-100: #ffe38f;
  --bl: #061428;
  --color-gray-100: rgba(255, 255, 255, 0.3);
  --color-white: #fff;

  /* Paddings */
  --padding-xl: 20px;
  --padding-33xl: 52px;
  --padding-18xl: 37px;
  --padding-10xl-7: 29.7px;
  --padding-12xl: 31px;

  /* Border radiuses */
  --br-11xl: 30px;
  --br-3xs: 10px;
}

.popup {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 30px;
}

.popup-content {
  background-color: #fffacd;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  text-align: center;
  font-size: 20px;
  border-radius: 30px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}